.navbar {
    background-color: #3ea8fe;
    border-bottom: 1px solid #2b9dfa;
    padding: 1em;
    margin-bottom: 0;
  }
  
  .list {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .item{
    margin-right: 1em;
  }
  
  .navbar li a {
    color: #fff;
    text-decoration: none;
  }
  